.aulas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 7.5rem;
  padding: 3.75rem 0;
  align-items: start;
}

.aulas-imgs {
  position: relative;
}

.aulas-img-mapa {
  position: absolute;
  left: 1rem;
  bottom: -130px;
}

.aulas-local-lists {
  margin-top: 9.3rem;
  display: grid;
  gap: 12px;
}

.aulas-local-lists li {
  color: #99aabb;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 25px;
}

.aulas-local-lists li span {
  color: #17222d;
  font-weight: 700;
}

.aulas-local-lists li:first-child {
  text-transform: uppercase;
  color: #17222d;
  font-weight: 700;
}

.aulas-local-lists li:first-child::before {
  content: '';
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #ff3726;
}

.aulas-local-lists li:nth-child(n + 2)::before {
  content: '';
  width: 10px;
  height: 2px;
  background-color: #1188ee;
}

.aulas-desc {
  display: grid;
  gap: 1.8rem;
}

.aulas-desc h2 {
  color: #17222d;
  font-weight: 400;
}

.aulas-desc h2 span {
  color: #1188ee;
}

.aulas-desc-perto {
  border-bottom: 2px solid #eff4f9;
  border-top: 2px solid #eff4f9;
  color: #445566;
}

.aulas-desc-perto li {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1.8rem;
  align-items: center;
}

.aulas-desc-perto li + li {
  border-top: 2px solid #eff4f9;
}

.aulas-desc p {
  color: #445566;
}
