.font-1-xxl {
  font-family: 'Alice', serif;
  font-size: 4.5rem;
  line-height: 4.625rem;
  font-weight: 400;
}

.font-2-l {
  font-family: 'Nunito', sans-serif;
  font-size: 1.5rem;
}

.font-2-m {
  font-family: 'Nunito', sans-serif;
  font-size: 1.125rem;
  line-height: 1.8rem;
}

.font-2-mb {
  font-family: 'Nunito', sans-serif;
  font-size: 1.125rem;
  line-height: 1.8rem;
  font-weight: 700;
}

.font-2-xs {
  font-family: 'Nunito', sans-serif;
  font-size: 0.8rem;
}

.container {
  width: min(100% - 2rem, 1170px);
  margin-inline: auto;
}
